# top-most EditorConfig file
root = true

# Default settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# JSON / YAML
[*.{json,yml,yaml}]
indent_size = 2

# SCSS / CSS / JS
[*.{scss,css,js}]
indent_size = 2

# PHP (WordPress standard)
[*.php]
indent_size = 4
